
<!--Sender account number 
via Customer UPI:

	upiID
	when press enter	
	show balance and other details

or via Customer account number
	
	Account number
	when press enter	
	show balance and other details
	
	
enter Amount to be transffered

if via UPI change Balance info after tracking account number

if via account number, directly change info
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Bank Transaction System</title>
</head>
<body>

    <nav class="navigation">
        <ul>
            
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'customers' %}">Customers</a></li>
            <li><a href="{% url 'transactions' %}">Transactions</a></li>
            
        </ul>

        <span>Banking System</span>
    </nav> 

    {% if messages %}
        <div class="messages">
                {% for message in messages %}
                <h1>{{message}}</h1>
                {% endfor %}
            
        </div>
    {% endif %}
        
    <h1 class="Transaction_heading">Payment Gateway</h1>

    <div class="form1">
        <form action="sender_Profile" method="post" class="internal_form">
            {% csrf_token %}

            <select id="senderAccountno" name="senderAccountNo" placeholder="Sender Account number">
                <option value="select Sender Account" id="selectedSender">---SELECT SENDER ACCOUNT---</option>
                {% for c in all_customers%}   
                <option value="{{c.accountNo}}" id="selectedSender">{{c.accountNo}}-{{c.customerName}}</option>
                {% endfor %} 
            </select>
            <input type="submit" class="verify" name="verify" value="Verify">
        </form>
        
    </div>

    <!-- <div class="container_form">
        <div class="choices">
            <div class="choice1">
                <span>UPI</span>
            </div>
            <div class="choice2">
                <span>Account Number</span>
            </div>
        </div>
        
        <div class="form">
            <form action="#">
                <span>Account number: </span>
                <input type="number" name="receiver_Account_no" class="accountno"><br>
                <span>Amount:</span>
                <input type="number" name="Amount">

                <button class="btn"> Submit </button>
            </form>
        </div>
    </div> -->
    
</body>
</html>